body{
  font-family: 'Edu TAS Beginner', cursive;
  margin: 0;
  overflow: hidden;
}

.circles {
  position: absolute;
  top: 2em;
}

.title {
  position: absolute;
  top: 3em;
  left: 2em;
}

.circle {
  width: 150px;
  height: 150px;
  font-size: 15px;
  text-shadow: 1px 1px rgba(156, 213, 75, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: #dcf3bff6;
}
