body {
  font-family: 'Edu TAS Beginner', cursive;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow-x: hidden;
}

header, nav, main, footer {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

header, footer {
  background-color: #ffe6e619;
}

main {
  flex: 1;
  background-color: #fff3f335;
}

.container {
  position: relative;
  text-align: center;
}

img {
  position: relative;
  left: 1vh;
  top: 25vh;
}

.index-container {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  list-style: none;
  position: relative;
  top: 23vh;
  left: -1vh;
}

.index-container li {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 4vh;
}

.index-container a {
  text-decoration: none;
  color: inherit;
  font-size: 25px;
}

.index-container a:hover {
  text-decoration: underline;
}

.circles {
  position: absolute;
  left: 1vh;
  top: 1vh;
} 

.circle {
  font-family: 'Courier New', Courier, monospace;
  width: 120px;
  height: 120px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: rgb(88, 17, 17);
}

.about-container {
  width: 50vh;
  height: 40vh;
}

.about-container h1 {
  font-size: 80px;
}

.about-container p {
  font-size: 20px;
}

@media only screen and (min-width: 600px) {
  .index-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100px; 
    list-style: none; 
  }

  .index-container li {
      margin: 0; 
  }
}

@media only screen and (max-width: 480px) {
    .index-container {
        width: 100%;
    }
}