body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow-x: hidden;
  color: rgb(123, 13, 13);
  cursor: pointer;
}

header, nav, main, footer {
  width: 95%;
  box-sizing: border-box;
  padding: 1px;
}

header, footer {
  background-color: #ffe6e619;
}

.container {
  position: relative;
  text-align: center;
}

img {
  position: relative;
  margin-top: 40px; 
  max-width: 100%;
  height: auto;
  left: 0;
  top: 0;
}

.index-container {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  position: relative;
  top: 2%;
  left: -1%;
  color: rgb(123, 13, 13);
  padding: 20px;
}

.index-container li {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 4vh;
  padding-top: 5vh;
}

.index-container a {
  text-decoration: none;
  color: inherit;
}

.index-container a:hover {
  text-decoration: underline;
}

.circles {
  position: absolute;
  left: 1%;
  top: 1%;
}

.circle {
  width: 120px;
  height: 120px;
  font-size: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: rgb(123, 13, 13);
}

.about-container {
  width: 50%;
}

.about-container h1 {
  font-size: 100px;
  padding: 20px;
}

.about-container p {
  font-size: 20px;
}

@media only screen and (min-width: 600px) {
  .index-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20px;
    list-style: none;
    padding: 20px;
  }

  .index-container a {
    margin: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .index-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  img {
    left: 0;
    top: 0;
  }

  .circles {
    left: 0;
    top: 0;
  }

  .index-container a {
    font-size: 3vh; 
    margin: 10px 0;
  }
}
