body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 100px;
}

div > a {
  color: rgb(0, 0, 0);
  font-size: 30px;
}

#projects > a {
  font-size: 18px;
  padding-top: 40px;
}

img {
  position: absolute;
  background: lightgreen;
  left: 270px;
  top: 55px;
  height: 400px;
  border: 1px black solid;
}