body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 100px;
}

div > a {
  color: rgb(0, 0, 0);
  font-size: 30px;
}

#projects > a {
  font-size: 18px;
  padding-top: 40px;
}